**/.DS_Store
**/__pycache__
**/.venv
**/.classpath
**/.project
**/.settings
**/.vs
**/.vscode
node_modules
npm-debug.log
pnpm-debug.log
.next
out
dist
Dockerfile
Dockerfile*
.dockerignore
docker-compose*
compose.y*ml
.git
.gitignore
LICENSE
README.md
.env
.env.local
.env.development
.env.test
secrets.dev.yaml
values.dev.yaml
